<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head') %>
</head>
<body>


    <%- include('partials/navigation') %>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur in nobis assumenda et maxime nesciunt expedita soluta quasi, suscipit, nam similique quidem, magnam alias laborum laudantium dolore voluptate quibusdam facilis nemo esse veniam? Labore quis consequuntur possimus maiores voluptatem rerum voluptatum temporibus repudiandae praesentium fugit. Sunt commodi porro, fuga eius quisquam aliquid eaque sapiente dolores cumque. Dolores officiis alias commodi sint consectetur ex, perferendis ipsam consequatur nisi atque rem adipisci, laudantium cumque! Dignissimos sapiente animi, iste facere, id minus aliquam placeat vel tempore quia laudantium dicta cupiditate obcaecati nobis a ipsum. Earum eveniet magnam a, delectus natus ab explicabo sapiente ipsa vitae aut, accusamus, officia exercitationem aspernatur velit recusandae necessitatibus est autem non asperiores nobis. Eligendi aperiam id sed commodi nobis nam voluptatum! Mollitia, aspernatur dolores vitae sint id quis illo suscipit veritatis dolore dolorem, sapiente earum ipsa voluptate velit natus, minima cupiditate ducimus in. Sunt aspernatur, perferendis vero maxime omnis possimus earum suscipit, enim alias at reiciendis? Veniam quisquam dolor ipsa quibusdam est. Repudiandae aliquid distinctio repellendus accusantium laboriosam quos, voluptas illum excepturi cum culpa fuga dolorem quaerat tenetur ratione, non ducimus voluptatum? Iure autem distinctio alias temporibus ipsam totam quis vitae, incidunt rerum magnam! Dicta tempore, magnam enim at nisi voluptatibus fuga praesentium maxime dolores incidunt excepturi est reiciendis sequi eaque laborum ducimus? Soluta culpa sint dolor rerum aspernatur. Hic velit ipsam, consequuntur odit esse dolore adipisci praesentium dignissimos ullam natus aperiam quia. Nisi consequatur, accusamus, laborum necessitatibus eum quam quos laudantium ut animi, in earum porro maxime iusto ullam veniam eos dignissimos? Quia sed, similique ab pariatur, excepturi maxime accusantium commodi earum ad, aut iusto vitae eius vero cum error! Id voluptates minima voluptate repudiandae error quis! Aperiam magnam aliquid labore, eos sed dolores facilis, repellat qui voluptatibus inventore, expedita tempora? Eius pariatur eveniet aperiam exercitationem libero!</p>
        </section>
    </main>


    <footer><%- include('partials/footer.ejs') %></footer>



</body>
</html>